<div id="routes">
	<div class="directive">
		<weather-days></weather-days>
	</div>
	<div id="routecontent">
		<div id="rentbike">
			<h1>Don't have a bike? No problem!</h1>
				<h3>You can rent one!</h3>
				<button id='toggleMe'>Find a Bike Hub</button>
				<div id='rentalModal'>
					<div id='contentModal'>
						<span id='toggleOff'>x</span>
						<div id='rentalMap'></div>
						<h4>Toggle locations below:</h4>
						<ul>
							<li>Detroit Wheel House</li>
							<li>Zagster Rental @ 611 Woodward</li>
							<li>Zagster Rental Station @ 730 Shelby</li>
							<li>Zagster Rental Station @ 160 E Congress</li>
							<li>Zagster Rental Station @ 1 Woodward</li>
							<li>Zagster Rental Station @ Greektown</li>
							<li>Zagster Rental Station @ 1528 Woodward</li>
							<li>Zagster Rental Station @ 1555 Broadway</li>
						</ul>
					</div>
				</div>

		</div>		
		<div id="routediff">		
			<h1>Choose your route difficulty:</h1>

			<diff-btn route='"beginner_Routes"' bgcolor='"green"'></diff-btn>
			<diff-btn route='"intermediate_Routes"' bgcolor='"yellow"'></diff-btn>
			<diff-btn route='"advanced_Routes"' bgcolor='"red"'></diff-btn>
		</div>
	</div>

</div>